* {
    box-sizing: border-box;
  }
  
  html,
  body {
    margin: 0 auto;
    height: 100%;
  }
  
  body {
    display: flex;
    align-items: center;
    font-family: monospace;
    justify-content: center;
    background-color:#252B37;
  }
  
  p {
    margin: 0;
  }
  
  #contenedor {
    width: 800px;
    height: fit-content;
    margin-top: 2.5em;
    text-align: center;
    color: #252B37;
    background-color: #151823;
    animation: textColor 10s ease infinite;
    border-radius: 25px;
  }
  
  #contenedor:after {
    position: absolute;
    content: "";
    top: 5vw;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.75);
    -webkit-filter: blur(5vw);
    -moz-filter: blur(5vw);
    -ms-filter: blur(5vw);
    filter: blur(5vw);
    background: linear-gradient(270deg, #0fffc1, #7e0fff);
    background-size: 200% 200%;
    animation: animateGlow 10s ease infinite;
  }

  
  
  @keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes textColor {
    0% {
      color: #7e0fff;
    }
    50% {
      color: #0fffc1;
    }
    100% {
      color: #7e0fff;
    }
  }

  @keyframes shadowAnimated{
    0%{
      box-shadow: 0px 0px 10px 5px #7e0fff;
    }
    50%{
      box-shadow: 0px 0px 10px 5px #0fffc1;
    }
    100%{
      box-shadow: 0px 0px 10px 5px #7e0fff;
    }
  }

  @keyframes borderAnimated{
    0%{
      border: 2px solid #7e0fff;
    }
    50%{
      border: 2px solid #0fffc1;
    }
    100%{
      border: 2px solid #7e0fff;
    }
  }
  
  p {
    margin: 5px;
  }
  
  .texto {
    text-align: justify;
    font-style: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .encabezado {
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .encabezado-Menu {
    text-align: justify;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .texto-descripcion {
    text-align: center;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .img {
    width: 150px;
    height: 150px;
    border: 1px;
    margin: 1em;
  }
  
  .lista-menu {
    padding: 10px;
  }
  
  .lista-menu li {
    padding: 10px 30px;
    display: inline;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 1.5em;
  }
  
  #encabezado {
    height: 35%;
    background-color: #2f323b;
    border-radius: 5px;
  }
  
  #menu {
    height: 15%;
    border-radius: 5px;
  }
  
  #seccion {
    height: 60%;
    border-radius: 5px;
  }
  
  a {
    color: #252B37;
    animation: textColor 10s ease reverse infinite;
  }
  
  img{
    height: 350px;
    width: auto;
    border-radius: 20px;
  }
  
  .container {
    margin: auto;
  }
  .card {
    width: 250px;
    height: 450px;
    background: #151823;
    transition: box-shadow 0.3 ease;
    animation: shadowAnimated 10s ease infinite;
    display: flex;
  }

  
  .card:hover .default {
    transform: translateY(-90px);
  }
  .card:hover .default img {
    transform: rotate(360deg);
  }
  .card:hover .onHover {
    transform: translateY(-40px);
    opacity: 1;
  }
  .card .content {
    margin: auto;
  }
  .default {
    color: #242424;
    font-size: 1.5em;
    transition: all 0.3s;
  }
  .default img {
    padding: 0.1em;
    border-radius: 50%;
    animation: borderAnimated 10s ease infinite;
    width: auto;
    height: 220px;
    margin-bottom: 0.5em;
  }
  .card .onHover {
    transform: translateY(20px);
    transition: all 0.5s;
    opacity: 0;
    animation: textColor 10s ease infinite;
  }
  .card .onHover img {
    width: 30px;
    height: 30px;
    margin: 2em 0.2em 0 0.2em;
  }

  .card .onHover a {
    width: 30px;
    height: 30px;
    margin: 2em 0.2em 0 0.2em;
  }
  
  h3{
    animation: textColor 10s ease infinite;
  }

.practica{
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.texto-descripcion{
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.piep{
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.piesmall{
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}